<!DOCTYPE html>
<html lang="en" data-page="@ViewBag.PageName" class="page-@ViewBag.PageName">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title - A Luxury Hotel</title>
    <link rel="shortcut icon" href="~/Content/img/favicon-32x32.png" type="image/png" />
    <link rel="stylesheet" href="~/Content/css/style.min.css">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="nav_check" />
            <!-- Hamburger menu on mobile version -->
            <div id="mobile_nav_button">
                <label aria-label="Toggle main menu" for="nav_check">
                    <!-- Lines of hamburger icon -->
                    &Congruent;
                </label>
            </div>
            <ul id="nav_links">
                <li><a href="Home">Home</a></li>
                <li><a href="Search">Search</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
        </nav>
        <img id="img_logo" src="~/Content/img/logo-350px.png" alt="GROD Hotel" />

        <video width="100" autoplay loop muted>
            <source src="~/Content/video/hotel.mp4" type="video/mp4">
        </video>
        <form action="Search" data-widget="index_form" method="POST">
            <div class="input_group_container">
                <fieldset>
                    <label for="entry_date">Entry date</label>
                    <input type="date" data-hook="entry_date" id="entry_date" required />
                    <svg class="form_icon" aria-label="Entry Date">
                        <use xlink:href="~/Content/svg/symbol-defs.svg#icon-calendar"></use>
                    </svg>
                </fieldset>
                <fieldset>
                    <label for="leaving_date">Leaving date</label>
                    <input type="date" data-hook="leaving_date" id="leaving_date" required />
                    <svg class="form_icon" aria-label="Leaving Date">
                        <use xlink:href="~/Content/svg/symbol-defs.svg#icon-calendar"></use>
                    </svg>
                </fieldset>
            </div>
            <div class="input_group_container">
                <fieldset>
                    <label for="numberAdults">Number of adults</label>
                    <input id="numberAdults" type="number" data-hook="numberAdults" min="1" max="10" name="numberAdults"
                           value="2" />
                    <svg class="form_icon" aria-label="Number of adults">
                        <use xlink:href="~/Content/svg/symbol-defs.svg#icon-man"></use>
                    </svg>
                </fieldset>
                <fieldset>
                    <label for="numberMinors">Number of minors</label>
                    <input id="numberMinors" type="number" data-hook="numberMinors" min="0" max="10" name="numberMinors"
                           value="0">
                    <svg class="form_icon" aria-label="Number of minors">
                        <use xlink:href="~/Content/svg/symbol-defs.svg#icon-child"></use>
                    </svg>
                </fieldset>
            </div>
            <fieldset>
                <label for="city">City</label>
                <div class="select">
                    <select data-hook="city" id="city" required>
                        <option value="" selected disabled>Select a city</option>
                        <option value="barcelona">Barcelona</option>
                        <option value="madrid">Madrid</option>
                        <option value="longon">London</option>
                        <option value="roma">Roma</option>
                        <option value="qatar">Qatar</option>
                        <option value="tokio">Tokio</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
            </fieldset>
            <button class="send_button">Send</button>
        </form>
    </header>

    @RenderBody()

    <a href="#head">
        <svg class="arrow_up" data-widget="scroll_to_top" aria-label="facebook">
            <use xlink:href="~/Content/svg/symbol-defs.svg#icon-navigate-up-arrow" />
        </svg>
    </a>

    <footer>
        <div class="cookies_warning" data-widget="cookies_warning">
            <p>
                This site uses cookies to personalise content and adverts, to provide social media features and to
                analyse traffic. <a href="CookieUsage">More info</a>.
            </p>
            <div>
                <button data-hook="accept_cookie" class="send_button">Accept cookies</button>
                <button data-hook="reject_cookie" class="send_button">Decline cookies</button>
            </div>
        </div>

        <div class="newsletter_form_container">
            <form data-widget="newsletter-form" action="ThanksForSubscribing" method="POST">
                <h3>Subscribe to our Newsletter!</h3>
                <div class="newsletter_input_container">
                    <input placeholder="Your e-mail" id="email" type="email" maxlength="50" name="email" required />
                    <svg class="form_icon" aria-label="Your Email">
                        <use xlink:href="~/Content/svg/symbol-defs.svg#icon-mail" />
                    </svg>
                    <button class="send_button">Subscribe!</button>
                </div>
            </form>
        </div>

        <div class="footer_container">
            <div>
                <p>
                    <a href="https://validator.w3.org">
                        <img src="~/Content/img/valid-html5.png" alt="HTML5 Válido!" />
                    </a>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img src="~/Content/img/valid-css.gif" alt="¡CSS Válido!" />
                    </a>
                </p>
                <p>© 2019 GROD Hotel</p>
            </div>
            <div class="footer_links">
                <h3>Useful Links</h3>
                <ul>
                    <li>
                        <a href="CookieUsage">Cookie Usage</a>
                    </li>
                    <li>
                        <a href="PersonalDataUsage">Personal Data Usage</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Follow Us</h3>
                <ul id="social_icon_list">
                    <li>
                        <a href="#">
                            <svg class="footer_icon" aria-label="facebook">
                                <use xlink:href="~/Content/svg/symbol-defs.svg#icon-facebook" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="footer_icon" aria-label="twitter">
                                <use xlink:href="~/Content/svg/symbol-defs.svg#icon-twitter" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="footer_icon" aria-label="instagram">
                                <use xlink:href="~/Content/svg/symbol-defs.svg#icon-instagram" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/Content/js/script.min.js"></script>
</body>

</html>