<!DOCTYPE html>
    <html lang="en" data-page="@ViewBag.PageName" class="page-@ViewBag.PageName">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>@ViewBag.Title | GROD Hotel</title>
        <link rel="shortcut icon" href="~/Content/img/favicon-32x32.png" type="image/png" />
        <link rel="stylesheet" href="~/Content/css/style-back.css">
        <link rel="stylesheet" href="~/Assets/shared/css/bootstrap.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">GROD Hotel</a>
        </nav>

        <div class="container-fluid">
            <div class="main_content row">
                <nav class="col-md-2 mt-3 col-sm-12 d-sm-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-md-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Bookings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Clients
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Comodities
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Hotels
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Hotels Chain
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Rooms
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Services
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <script src="~/Content/js/script-back.min.js"></script>
        <script src="~/Assets/shared/js/jquery.js"></script>
        <script src="~/Assets/page/dashboard/js/script.js"></script>
        <script src="~/Assets/shared/js/sweetalert2.all.js"></script>
        <script src="~/Assets/shared/js/moment.min.js"></script>
    </body>
</html>