
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

    <main id="layout_main">
        <div>
            <h1>@ViewBag.Title</h1>
            <a asp-controller="Home">Back to home</a>
        </div>
    </main>


