@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div>
        <h2>Contact with us</h2>
        <p class="text_tab"><strong>Direction:</strong> xxxxx, Example (Barcelona)</p>
        <p class="text_tab"><strong>Phone Number:</strong> 999 99 99 99</p>
        <p class="text_tab"><strong>Email:</strong> contact@grod.com</p>
        <p class="text_tab"><strong>ZIP Code:</strong> 08xxx</p>
    </div>
    <div>
        <h2>Send an Email</h2>
        <form action="thanks-for-contacting-us.html" data-widget="contact_form" method="POST">
            <fieldset>
                <label for="name">Name</label>
                <input id="name" type="text" minlength="1" maxlength="30" data-hook="name" name="first"
                       placeholder="Your Name" required />
                <img src="~/Content/svg/user.svg" class="form_icon" alt="Your Name" />
            </fieldset>
            <fieldset>
                <label for="surname">Surnames</label>
                <input id="surname" type="text" minlength="1" maxlength="50" data-hook="surname" name="first"
                       placeholder="Your Surname" required />
                <img src="~/Content/svg/user.svg" class="form_icon" alt="Your Surname" />
            </fieldset>
            <fieldset>
                <label for="email">Email</label>
                <input id="email" type="email" data-hook="email" name="email" placeholder="Your Email" required />
                <img src="~/Content/svg/mail.svg" class="form_icon" alt="Email" />
            </fieldset>
            <fieldset>
                <label for="textarea">Message</label>
                <textarea id="textarea" data-hook="message" maxlength="2000" placeholder="Your Message..."
                          required></textarea>
            </fieldset>
            <fieldset>
                <button class="send_button">Send</button>
            </fieldset>
        </form>
    </div>
</main>