@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div class="confirmation_message_container">
        <h2 class="centered_text">A confirmation email has been sent to the given email address.</h2>
        <h2 class="centered_text">Please follow the link on it to complete the reservation.</h2>
        <a asp-controller="BookingCompleted" asp-action="Index">Link</a>
    </div>
</main>