@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div>
        <h2>Personal data usage</h2>
        <blockquote>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aspernatur laborum inventore sunt
                repudiandae architecto similique enim voluptate animi unde veniam quisquam magni facilis iusto, aut
                sit pariatur repellendus voluptates. Quae aperiam, distinctio minus reiciendis explicabo alias?
                Quod, quos temporibus!
            </p>
        </blockquote>
    </div>
</main>