@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div class="confirmation_message_container">
        <h2 class="centered_text">Your booking has been confirmed!</h2>
    </div>
</main>
