@charset "UTF-8";

#nav_links a,
h1,
h2,
h3,
h4,
h5,
h6,
footer {
  font-family: "Julius Sans One", sans-serif;
}

body,
footer {
  /* background pattern. Source:
  https://freefrontend.com/css-background-patterns/
  https://codepen.io/foxeisen/pen/KgwYJy */
  background-attachment: fixed;
  background: radial-gradient(#fad860 3px, transparent 4px),
    radial-gradient(#fad860 3px, transparent 4px),
    linear-gradient(#010116 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #fad860 75px,
      #fad860 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #fad860 76px,
      #fad860 77px,
      transparent 78px,
      transparent 109px
    ),
    #010116;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Sulphur Point", serif;
  max-width: 100vw;
}

header {
  width: 100%;
  background-image: url("../img/beach_resort.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#main_logo {
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px;
  box-sizing: border-box;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 130px;
  background: linear-gradient(
    0deg,
    rgba(12, 1, 22, 1) 0%,
    rgba(1, 1, 22, 0.05) 98%
  );
}

#logo_container {
  text-align: center;
}

#mobile_nav_button {
  display: none;
}

#nav_links {
  display: flex;
  width: 100%;
  margin: auto;
  height: 100%;
  font-size: 18px;
}

#nav_links a {
  font-weight: 800;
  display: inline-block;
  padding: 0.6em;
  text-decoration: none;
  color: #fad860;
  position: relative;
  text-align: center;
  transition-duration: 0.25s;
  margin-bottom: 0.5em;
}

#nav_links > a:hover {
  color: #bb981a;
}

#nav_check {
  display: none;
}

#nav_links a::after {
  background-color: #bb981a;
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  transition-duration: 0.25s;
  width: 100%;
}

/* hover line effect on main nav links */
#nav_links a:hover::after,
#nav_links a.-active::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#nav_links a::after {
  content: "";
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
}
/* ********** */

#layout_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
}

#layout_main > div {
  background-color: #f8f8f8;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: 1px 3px 3px 1px #fad860;
  width: 100%;
}

footer {
  color: #fad860;
}

.footer_container {
  display: flex;
  background-color: rgba(1, 1, 22, 0.8);
  padding: 20px;
}

#social_icon_list li {
  display: inline;
}

#social_icon_list li a {
  text-decoration: none;
}

.footer_icon {
  border: 1px solid #fad860;
  border-radius: 0.7em;
  padding: 0.9em;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: #fad860;
}

.footer_icon:hover {
  border: 1px solid #bb981a;
}

.footer_links p {
  margin: 8px 0;
}

footer .footer_links a {
  text-decoration-line: none;
  color: #fad860;
}

footer a:hover {
  color: #bb981a;
}

footer form {
  display: block;
  width: 80%;
  margin: auto;
}

.newsletter_form_container {
  background: linear-gradient(
    0deg,
    rgba(1, 1, 22, 0.7) 0%,
    rgba(1, 1, 22, 0.8) 40%,
    rgba(2, 0, 36, 0.9) 88%
  );
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.newsletter_form_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-size: 100% 95%;
  background-position: center;
}

.newsletter_input_container {
  display: flex;
  justify-content: space-between;
}

body .newsletter_input_container input:hover::placeholder {
  color: #f8f8f8;
}

footer form .send_button,
.cookies_warning button {
  display: inline;
  color: #f8f8f8;
}

.arrow_up {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 0px;
  display: none;
  fill: #c03949;
  border: 2.5px solid #c03949;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  z-index: 2;
}

.cookies_warning {
  box-sizing: border-box;
  border-radius: 8px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 150px;
  background-color: #010116;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.95;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.3s;
  font-family: "Sulphur Point";
}

.cookies_warning p a {
  color: #f8f8f8;
}

.cookies_warning p a:hover {
  color: #e6e6e6;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}

@media (max-width: 699px) {
  #layout_main {
    width: 100%;
  }

  #layout_main > div {
    padding: 2px 10px;
  }

  #main_logo {
    width: 130px;
  }

  #mobile_nav_button {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
  }

  #mobile_nav_button label {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 130px;
    padding: 13px;
    font-size: 3em;
    color: white;
  }

  #mobile_nav_button > label:hover,
  #nav_check:checked ~ #mobile_nav_button > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  #nav_links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #333;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 130px;
    left: 0px;
  }

  #nav_links > a {
    display: block;
    width: 30%;
    font-weight: 900;
  }

  #nav_check:not(:checked) ~ #nav_links {
    height: 0px;
  }

  #nav_check:checked ~ #nav_links {
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
  }

  .footer_container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .footer_container div:first-child {
    order: 3;
  }

  .footer_container > div {
    text-align: center;
    width: 100%;
  }

  .newsletter_input_container{
    flex-direction: column;
  }

  body .newsletter_form_container input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .cookies_warning {
    width: 100%;
    padding: 15px;
  }

  .cookies_warning button {
    padding: 10px;
  }
}

@media screen and (min-width: 700px) {
  #layout_main {
    width: 80%;
  }

  #layout_main > div {
    padding: 8px 25px 8px 25px;
  }

  #main_logo {
    width: 150px;
  }

  #nav_links {
    justify-content: center;
    align-items: center;
  }

  .footer_container {
    justify-content: space-around;
  }

  body .newsletter_input_container input {
    width: 80%;
  }

  .cookies_warning {
    width: 90%;
  }
}
