@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
        <div>
            <h2>Cookies</h2>
            <blockquote>
                <p>A cookie is a small piece of text sent to your browser by a website you visit. It helps the website
                    to remember information about your visit, like your preferred language and other settings. That can
                    make your next visit easier and the site more useful to you. Cookies play an important role. Without
                    them, using the web would be a much more frustrating experience.</p>

                <p>We use cookies for many purposes. We use them, for example, to remember your safe search preferences,
                    to make the ads you see more relevant to you, to count how many visitors we receive to a page, to
                    help you sign up for our services, to protect your data, or to remember your ad settings.</p>
            </blockquote>
        </div>
    </main>
