@using GrodHotelBackend.Models;
@model List<Hotels>
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h1>Test: @ViewBag.Title</h1>

<main id="layout_main">
        <div>
            <h2>Search</h2>
            <form>
                <fieldset>
                    <label for="search"></label>
                    <input id="search" type="text" name="hotelName" required />
                    <img src="~/Content/svg/search.svg" class="form_icon" alt="Search" />
                </fieldset>
            </form>
        </div>

        @foreach (var hotel in Model)
        {
            <div>Hotel: @hotel.Name</div>
            <img src="@hotel.Image" />
        }

        <div>
            <h2>Results</h2>
            <ul class="unordered_list text_tab">
                <li><a asp-controller="Room" asp-action="Index">Single Room</a></li>
                <li><a asp-controller="Room" asp-action="Index">Double Room</a></li>
            </ul>
        </div>
    </main>

