@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div>
        <h2>About us</h2>
        <blockquote>
            <p>
                We are GROD Hotel, a <strong>5 star hotel company</strong> We are focused on all types of
                <strong>high class customers</strong> and we offer all kind of luxuries.
            </p>

            <p>
                In our hotels frequent celebrities, including actors, musicians, football players and businessmen,
                however, we accept all kind of people, not only “the famous ones”.
            </p>

            <p>
                All our suites dispose of different installations like Jacuzzis, ambiental lights, views of the city
                that cannot be seen anywhere else and other <strong>high luxury services</strong> such as massages
                from expert chiropractors, catering with the best wine selection, indoor pools, and much more.
            </p>

            <p>
                We would love to give you your best experience ever and make you feel very comfortable in each of our
                hotels, so we invite you to come and have a good stay with us.
            </p>
        </blockquote>
    </div>
</main>