@model GrodHotelBackend.Models.Cities

@{
    ViewData["Title"] = "Delete city";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<p class="display-4">Are you sure you want to delete this?</p>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Country
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Countries.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
