@model GrodHotelBackend.Models.Bookings

@{
    ViewData["Title"] = "Create bookings";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientsId" class="control-label">Client</label>
                <select asp-for="ClientsId" class="form-control" asp-items="ViewBag.ClientsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoomsId" class="control-label">Room</label>
                <select asp-for="RoomsId" class="form-control" asp-items="ViewBag.RoomsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label">Entry Date</label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeavingDate" class="control-label">Leaving Date</label>
                <input asp-for="LeavingDate" class="form-control" />
                <span asp-validation-for="LeavingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label">Total Price</label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdultNumbers" class="control-label">Adult Numbers</label>
                <input asp-for="AdultNumbers" class="form-control" />
                <span asp-validation-for="AdultNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinorNumbers" class="control-label">Minor Numbers</label>
                <input asp-for="MinorNumbers" class="form-control" />
                <span asp-validation-for="MinorNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmationDate" class="control-label">Confirmation Date</label>
                <input asp-for="ConfirmationDate" class="form-control" />
                <span asp-validation-for="ConfirmationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>